<% unless comment.new_record? %>
<div class="panel">
<p>
  <b>Commenter:</b>
 <%= comment.commenter %> 
 <em>on <%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></em>

</p>
 
<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>

<p>

<% if user_signed_in? %>
<%= link_to 'Destroy Comment', [comment.post, comment],
  :confirm => 'Are you sure?',
  :method => :delete, class: "alert button" %>
</p>
<%end%>
</div>
<%end%>
