<section>
<div class="eight columns" id="contact">
  <p>Basic comes with a simple (and optional) contact form. It features validation and a success message. Give it a shot and see how easy it works.</p>

  <hr>

  <p class="message center" style="display: none;">Message sent. Thank you for contacting me. I will reply to you as soon as possible.</p>

  <form class="contact" id="contact_form" method="post" action="">
    <h6>YOUR NAME</h6>
    <input type="text" name="name" id="name" class="required" required="required" />
    <h6>YOUR EMAIL</h6>
    <input type="text" name="email" id="email" class="required email" required="required" />
    <h6>YOUR MESSAGE</h6>
    <textarea id="comment" name="message" id="message" class="required" minlength="3" required="required"></textarea>
    <button type="submit">Send message</button>
  </form>

</div>
<br class="clear" />
</section>
