<footer>
<div class="slate">
  <div class="four columns">
    <h5>Find me on Twitter <a href="#">@bradleydsmith</a></h5>
    <div class="tweet"></div>
  </div>
  <div class="four columns">
    <h5></h5>
    <p>I can be reached at</p>
    <a href="https://twitter.com/bradleydsmith"><button class="twitter"><i class="icon-twitter"></i></button></a>
    <a href="http://www.linkedin.com/pub/bradley-smith/7/894/406/"><button class="linkedin"><i class="icon-linkedin"></i></button></a>
    <a href="https://plus.google.com/u/0/101732902575708152629/posts/p/pub"><button class="google_plus"><i class="icon-google-plus"></i></button></a>
  </div>
</div>
</footer>
